header {
    display: flex;
    background-color: silver;
    width: 100%;
  }
  .logogame {
    margin-right: auto;
  }
  .image-container {
    position: relative;
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
    display: block;
  }
  
  .tagline {
    position: absolute;
    top: 50px;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: azure;
    text-decoration: none;
    display: inline-block;
  }
  
  .deskripsi {
    position: absolute;
    top: 150px;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: green solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .start-button {
    position: absolute;
    top: 80%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    border: green solid;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
    height: 60px;
    width: 100%;
  }
  
  .profil button {
    padding: 10px 20px;
    background-color: rgb(0, 89, 255);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 15px;
  }
  
  .profil button:hover {
    background-color: #4574a0;
  }
  
  .github-link {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 6px;
  }
  
  .profil .copyright {
    margin-left: auto;
    margin-right: 10px;
  }
  